html {
  font-size: 1vw;
  font-family:bignoodletitling;
  box-sizing: border-box;
}
.parallax {
    /* The image used */
    background-image: url("london.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ccontainner {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 2vw;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}


.panel {
    padding: 0 18px;
    display: none;
    background-color: grey;
    overflow: hidden;
}

.html {width: 75%; background-color: #4CAF50;}
.css {width: 75%; background-color: #2196F3;}

.op {width: 90%; background-color:  #0000ff;}
.rp {width: 70%; background-color: #f44336;}
.cl {width: 85%; background-color: #808080;}
*, *:before, *:after {
  box-sizing: inherit;
}
footer{
    background-color:#e1e1d0;
    text-align: center;
}
.ccolumn {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media (max-width: 650px) {
  .ccolumn {
    width: 100%;
    display: block;
  }
}

.ccard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ccontainer {
  padding: 0 16px;
}

.ccontainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.colummmn {
    float: left;
    width: 50%;
    padding: 10px;
  
}

/* Clear floats after the columns */
.rroow:after {
    content: "";
    display: table;
    clear: both;
}
.buttonn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.buttonn:hover {
  background-color: #555;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    width:100%;
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.about{
    background-image: 
}

body{
    font-family: bignoodletitling;
}
*, *:before, *:after {
  box-sizing: inherit;
}
[class*="col-"]{
    max-width: 100%;
    padding-top: 15px;
    padding-bottom:15px;
    background-color:rgba(86,61,124,.15);
}
.col-md-4{
    max-width: 100%;
    text-align: center;
    font-size:2vw;
    padding-bottom: 15px;
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    border:1px;
}


p.rechts{
	font-size:2vw;
	margin-left: 40%;
	margin-top: 1%;
	width:30%;
	text-align: left;
		
}

img.Tjorven{
	margin-left: 40%;
	margin-top:-4%;
    position: center;
}
h2{

    text-align: center;
}

div.zwart{
	background-color:#e1e1d0;
	margin-top: 2%;
	padding-bottom: 1%;
}

p.wit{
	margin-top: -4%;
	color:black;
	text-align: center;
	font-size: 2vw;
	padding: 1%; 
	margin-left: 4%;
	margin-right: 4%;
	
}
p.zwart{
	margin-top: 2%;
	color:black;
	text-align: center;
	font-size: 2vw;
	padding: 1%; 
		
}
h1.zwart{
	margin-top: -1%;
	text-align: center;
	font-size: 3vw;
	padding-top: 3%;	
}
h2.wit{
	margin-top: 1%;
	color: black;
	text-align: center;
	font-size: 5vw;
	padding: 3%; 	
	
}
ul.subinfo  {
    background-color: #e1e1d0;
	list-style-type: none;
	padding: 0;
	position: relative;
	overflow: hidden;
	top: 0;
	width: auto;
			}

.informatie {
	font-size: 2.5vw;
	float: left;
	margin: 0% 0% 0% 0%;
	width: 100%;
}
.informatie a { 	
	display: block;
	color: black;
	text-align: center;
	padding: 1% 1%;
	text-decoration: none;
	}
.jumbotron {
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #eceeef;
  border-radius: 0.3rem;
}
